.App {
  text-align: center;

}

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 100px;
  margin-right: 100px;
  background-color:#d8ecf3;

}

li {
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  padding: 4em;
}


.KATCHATS {
  margin-top: 3em;
}

.App-link {
  color:
    #189AB4;
}

/* img {
  display: inline;
  max-width: 500px;
} */

nav {
  font-family: 'Open Sans', sans-serif;

}

h2 {
  position: relative;
  font-family: sans-serif;
  color: black;
}

label {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1rem;

}

input {
  font-family: 'Open Sans', sans-serif;
  margin-top: 1rem;
  margin-top: 1rem;
  color: #189AB4;
  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: center;
  font-size: 16px;
  cursor: pointer;

}

img {
  margin-bottom: -23em;
  width: 40em;
  height: 40em;
}

.chattykat {
  margin-left: -20em;
  height: 44em;
  margin-top: -5em;

}

.headerdiv {
  margin-top: -6em;
}


.KATCHATS {

  font-family: cursive;
  border: 2px solid black;
  font-size: larger;
  padding: 1em;
  width: 40em;
  margin-left: 30em;
}

button {
  position: sticky;
  top: 20px;
}

button:hover {
  cursor:pointer;
}