*::before
*::after{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
.popup{
  background-color: aquamarine;
  width: 450px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  display: none;

}
.popup button{
  display: block;
  margin: 0 0 20px;
  background-color: transparent;
  font-size: 30px;
  color: #c5c5c5;
  border: none;
  outline: none;
  cursor: pointer;


}

.popup p{
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
}

a{
  display: block;
  width: 150px;
  position: relative;
  margin: auto;
  text-align: center;
  background-color: #3179b9;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 0;

}


.App {
  text-align: center;
  
}

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
margin-left: 100px;
margin-right: 100px;
background-color:#d8ecf3;
}

li {
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  padding: 4em;
}


.KATCHATS {
  margin-top: 3em;
}

.App-link {
  color: 
  #189AB4;
}

img{
  margin-bottom: -23em;
  width: 40em;
  height: 40em;
}

nav {
  font-family: 'Open Sans', sans-serif;

}

h2 {
  position: relative;
  font-family: sans-serif;
  color: black;
}

label {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1rem;
  
}

button {
  border-radius: 12px;
  font-family: 'Open Sans', sans-serif;
  background-color: #3179b9;
  margin-top: 1rem;
  border: none;
  padding: 20px;
  align-self: center;
  text-decoration: none;
  display: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width:3rem;
  height: 3rem;
  
}



img {
  margin-bottom: -23em;
  width: 40em;
  height: 40em;
}

.chattykat {
  margin-left: -20em;
  height: 44em;
  margin-top: -5em;

}

.headerdiv {
  margin-top: -6em;
}


.KATCHATS {
  
  font-family: cursive;
  border: 2px solid black;
  font-size: larger;
  padding: 1em;
  width: 40em;
align-self: center;
}



button:hover {
  cursor:pointer;
}