
.App {
  text-align: center;
  
}
body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
margin-left: 100px;
margin-right: 100px;
}

li {
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  padding: 4em;
}

img{
  display: inline;
  max-width: 500px;
 
}

nav{
  font-family: 'Open Sans', sans-serif;
}

h2{
  position: relative;
  font-family: sans-serif;
}

label{
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1rem;
  
}

input{
  font-family: 'Open Sans', sans-serif;
  margin-top: 1rem;
}